<h1>新しい書籍</h1>

<%= form_for :book, url: books_path do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %>
    <%= f.text_area :text,class: "w-50 p-3" %>
  </p>

  <p>
    <%= f.submit class: "btn btn-outline-primary" %>
  </p>

<% end %>
<%= link_to '戻る',books_path, class: "btn btn-light" %>
